.todo__list {
  width: 400px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  cursor: grab;
  transition: all 1s ease;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.todo__list_type_ghost {
  /* margin-left: 100px; */
  opacity: .3;
}

.card__sort {
  width: 100%;
  display: flex;
  justify-content: start;
  margin: 5px;
}

.list__tasks {
  margin: 5px 0 15px;
}