.todo__list {
  width: 400px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  cursor: grab;
  transition: all 1s ease;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.todo__list_type_ghost {
  margin-left: 100px;
  opacity: .3;
}