.App {
  padding: 30px;
  display: grid;
  grid-template-areas:
    'addList '
    'lists'
  ;
}

.app__addlist {
  width: 400px;
  max-width: 98%;

}

.app__lists {
  width: 1600px;
  max-width: 98%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.App>div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;

}

.error-message {
  color: red;
}

.active-filter {
  background-color: #bb8dc7;
}

.is-done {
  opacity: .5;
}

.title {
  border: 0;
}